@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3rem;
  width: 25%;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.76);
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1.2rem;
}

.pricing p {
  margin: 0;
  padding: 0;
}

.pricing img {
  margin-right: 5px;
}

.bitcoin {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time-out {
  color: hsl(215, 51%, 70%);
}

.content p {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

.content h2 {
  color: #fff;
}

.image {
  margin: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.image::after {
  content: url("./images/icon-view.svg");
  font-size: 2rem;
  color: #fff;
  background-color: hsla(178, 100%, 50%, 0.5);
  position: absolute;
  inset: 0;
  display: grid;
  opacity: 0;
  place-items: center;
  transition: opacity 0.5s;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.image:hover::after {
  opacity: 1;
}

.content {
  margin-right: 2rem;
  margin-left: 2rem;
}

.content h2 {
  padding: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.content h2:hover {
  color: hsl(178, 100%, 50%);
  transition: ease 0.5s;
}

.content p {
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

hr {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 85%;
  height: 2px;
  background-color: hsl(215, 32%, 27%);
  border: none;
  border-radius: 2px;
}

.author {
  display: flex;
  color: hsl(215, 51%, 70%);
  margin-bottom: 20px;
  margin-top: 20px;
}

.author img {
  width: 45px;
  height: 100%;
  border: 1px solid white;
  border-radius: 60px;
  margin-left: 2rem;
  margin-right: 1rem;
}

.author-color {
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.author-color:hover {
  color: hsl(178, 100%, 50%);
  transition: ease 0.5s;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 100%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: 1rem;
  }
  .image::after {
    display: none;
    cursor: none;
  }
  .image:hover::after {
    display: none;
  }
}
